@*@model PowerteqDTModels.DepartmentModel*@
@model PowerteqDTReport.Models.DepartmentViewModel

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (Model.Departments.Count<Object>() != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><strong>Department Name</strong></div>
            <div class="col-sm-1"><strong>Edit</strong></div>
            <div class="col-sm-1"><strong>Delete</strong></div>
        </div>
        @foreach (var dep in Model.Departments)
        {

            <div class="row">
                <div class="col-sm-3">@Html.DisplayFor(l => dep.departmentName)</div>
                <div class="col-sm-1">@Html.ActionLink("Edit", "EditDepartment", new { Id = dep.id })</div>
                <div class="col-sm-1">@Html.ActionLink("Delete", "DeleteDepartment")</div>
            </div>

        }
    </div>
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>DepartmentModel</legend>*@

        @Html.HiddenFor(model => model.Department.id)
        <div class="container">
            <div class="row">
                <h3>Department Name</h3>
                <div class="col-sm-3">
                    <p>
                        @Html.EditorFor(model => model.Department.departmentName)
                        @Html.ValidationMessageFor(model => model.Department.departmentName)
                    </p>
                </div>
            </div>
        </div>

        <!-- Days of the week-->
        <div class="container">
            <div class="row">
                <h3>Working Days</h3>
                <div class="col-sm-1">
                    Mon <p>
                        @Html.EditorFor(model => model.Department.workdayMon)
                        @Html.ValidationMessageFor(model => model.Department.workdayMon)
                    </p>
                </div>
                <div class="col-sm-1">
                    Tue <p>
                        @Html.EditorFor(model => model.Department.workdayTue)
                        @Html.ValidationMessageFor(model => model.Department.workdayTue)
                    </p>
                </div>
                <div class="col-sm-1">
                    Wed <p>
                        @Html.EditorFor(model => model.Department.workdayWed)
                        @Html.ValidationMessageFor(model => model.Department.workdayWed)
                    </p>
                </div>
                <div class="col-sm-1">
                    Thu <p>
                        @Html.EditorFor(model => model.Department.workdayThu)
                        @Html.ValidationMessageFor(model => model.Department.workdayThu)
                    </p>
                </div>
                <div class="col-sm-1">
                    Fri <p>
                        @Html.EditorFor(model => model.Department.workdayFri)
                        @Html.ValidationMessageFor(model => model.Department.workdayFri)
                    </p>
                </div>
                <div class="col-sm-1">
                    Sat <p>
                        @Html.EditorFor(model => model.Department.workdaySat)
                        @Html.ValidationMessageFor(model => model.Department.workdaySat)
                    </p>
                </div>
                <div class="col-sm-1">
                    Sun <p>
                        @Html.EditorFor(model => model.Department.workdaySun)
                        @Html.ValidationMessageFor(model => model.Department.workdaySun)
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3>Working Hours</h3>
                <div class="col-sm-3">
                    <h4>Start of work hours</h4>
                    <p>
                        @Html.EditorFor(model => model.Department.startWorkingHours)
                        @Html.ValidationMessageFor(model => model.Department.startWorkingHours)
                    </p>
                </div>
                <div class="col-sm-3">
                    <h4>End of work hours</h4>
                    <p>
                        @Html.EditorFor(model => model.Department.endWorkingHours)
                        @Html.ValidationMessageFor(model => model.Department.endWorkingHours)
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <input type="submit" value="Save" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
