@*@model PowerteqDTModels.DowntimeEventModel*@
@model PowerteqDTReport.Models.DowntimeEventViewModel
@{
    ViewBag.Title = "Downtime Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <div class="row">
            <div class="col-sm-3">
                @*@Html.LabelFor(model => model.startDateTime)*@
                <h4>Event start date/time</h4>
                <p>
                    @Html.EditorFor(model => model.startDateTime)
                    @Html.ValidationMessageFor(model => model.startDateTime)
                </p>
            </div>


            <div class="col-sm-3">
                @*@Html.LabelFor(model => model.endDateTime)*@
                <h4>Event end date/time</h4>
                <p>
                    @Html.EditorFor(model => model.endDateTime)
                    @Html.ValidationMessageFor(model => model.endDateTime)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4>@Html.LabelFor(model => model.Description)</h4>
                <p>
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" value="Create" />
            </div>
        </div>
    </div>
    <fieldset>



        


        
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
