@model PowerteqDTReport.Models.SystemViewModel
@{
    ViewBag.Title = "Systems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (Model.Systems.Count<Object>() != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><strong>System Name</strong></div>
            <div class="col-sm-1"><strong>Edit</strong></div>
            <div class="col-sm-1"><strong>Delete</strong></div>
        </div>
        @foreach (var sys in Model.Systems)
        {

            <div class="row">
                <div class="col-sm-3">@Html.DisplayFor(l => sys.systemName)</div>
                <div class="col-sm-1">@Html.ActionLink("Edit", "EditSystem", new object{id = sys.id )</div>
                <div class="col-sm-1">@Html.ActionLink("Delete", "DeleteSystem")</div>
            </div>

        }
    </div>
}





<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>

                @Html.HiddenFor(model => model.System.id)

                <div class="editor-label">
                    <strong>Enter System Name</strong>
                    @*@Html.LabelFor(model => model.System.systemName)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.System.systemName)
                    <br />
                    @Html.ValidationMessageFor(model => model.System.systemName)
                </div>

                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
